@{
    ViewBag.Title = "About";
    Layout = "~/Views/_LayoutPage1.cshtml";
}
<style>
    #feedback{
        background-color:darkblue;
    }
</style>
<main>
    <!-- slider Area Start-->
    <div class="slider-area ">
     
                <img src="~/content/image/hero/about.jpg" style="width:100%;height:500px;"/>

                <div class="centered">
                    About Us
                </div>
       
            

            <style>
              
                .centered {
                    position: absolute;
                    top: 30%;
                    font-size:56px;
                    font-weight:bold;
                    font-family:Arial;
                    color:white;
                    left: 20%;
                    transform: translate(-50%, -50%);
                }
            </style>
        </div>
   
    <!-- slider Area End-->
    <!-- About Area Start -->
    <section class="support-company-area fix pt-10 section-padding30">
        <div class="support-wrapper align-items-end">
            <div class="left-content">
                <!-- section tittle -->
                <div class="section-tittle section-tittle2 mb-55">
                    <div class="front-text">
                        <h2 class="">Who we are</h2>
                    </div>
                    <span class="back-text">About us</span>
                </div>
                <div class="support-caption">
                    <p class="pera-top">We are providing construction platform specifically for house related services/construction materials to user, where list of construction relevant material will be available. .</p>
                    <p>
                       
                    </p>
                
                </div>
            </div>
            <div class="right-content">
                <!-- img -->
                <div class="right-img">
                    <img src="~/content/image/gallery/safe_in.png" alt="content folder">
                </div>
                <div class="support-img-cap text-center">
                    <span>2020</span>
                    <p>Since</p>
                </div>
            </div>
        </div>
    </section>
    <!-- About Area End -->
    <section>
        <div id="hiw" class="hiw_section layout_padding">
            <div class="container">
                <div class="row">
                    <div class="col-md-7">
                        <h3 class="white_font">How it's Works</h3>
                        <p class="white_font">
                            Landowner will be able to provide plot dimensions and details regarding desire house construction, also user can maintain its own account and details of plot either by removing, adding or modifying.
                            Construction Company will be able to bid over landowner plot details and send an offer with cost estimation, completion time and services to be provided.
                            Seller will be able to upload products with pictures, prices and quality details required to build structure of a house which could be bought either by Construction Company or landowner.
                        </p>
                    </div>
                    <div class="col-md-5">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                      
                        <img class="margin_top_30 img-responsive" src="~/images/Services/Seller.jpg" style="height:250px" alt="content folder" />
                        <h3 class="blog_head" style="text-align:center;font-weight:bold;">Seller</h3>
                    </div>
                    <div class="col-md-4">
                  
                        <img class="margin_top_30 img-responsive" src="~/images/Services/Buyer.png"  style="height:250px" alt="content folder" />
                        <h3 class="blog_head" style="text-align:center;font-weight:bold;">Buyer</h3>
                    </div>
                    <div class="col-md-4">
                      
                        <img class="margin_top_30 img-responsive" src="~/images/Services/Servicer.png"  style="height:250px" alt="content folder" />
                        <h3 class="blog_head" style="text-align:center;font-weight:bold;">Servicer</h3>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Testimonial Start -->
    <div class="testimonial-area t-bg testimonial-padding" id="feedback">
        <div class="container "> 
            <div class="row">
                <div class="col-xl-12">
                    <!-- Section Tittle -->
                    <div class="section-tittle section-tittle6 mb-50">
                        <div class="front-text">
                            <h2 class="">User</h2>
                        </div>
                        <span class="back-text">Feedback</span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-10 col-lg-11 col-md-10 offset-xl-1">
                    <div class="h1-testimonial-active">
                        <!-- Single Testimonial -->
                        <div class="single-testimonial">
                            <!-- Testimonial Content -->
                            <div class="testimonial-caption ">
                                <div class="testimonial-top-cap">
                                    <!-- SVG icon -->
                                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="86px" height="63px">
                                        <path fill-rule="evenodd" stroke-width="1px" stroke="rgb(255, 95, 19)" fill-opacity="0" fill="rgb(0, 0, 0)"
                                              d="M82.623,59.861 L48.661,59.861 L48.661,25.988 L59.982,3.406 L76.963,3.406 L65.642,25.988 L82.623,25.988 L82.623,59.861 ZM3.377,25.988 L14.698,3.406 L31.679,3.406 L20.358,25.988 L37.340,25.988 L37.340,59.861 L3.377,59.861 L3.377,25.988 Z" />
                                    </svg>
                                    <p>
                                       The work done by the team was wonderful . I am pleased to tell that Hombey services are brilliant . I am satisfy with the services and will also recommend you all guys. 
                                    </p>
                                </div>
                                <!-- founder -->
                                <div class="testimonial-founder d-flex align-items-center">
                                    <div class="founder-text">
                                        <span>Mr. Yasir </span>
                                        <p>Worker</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Single Testimonial -->
                        <div class="single-testimonial">
                            <!-- Testimonial Content -->
                            <div class="testimonial-caption ">
                                <div class="testimonial-top-cap">
                                    <!-- SVG icon -->
                                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="86px" height="63px">
                                        <path fill-rule="evenodd" stroke-width="1px" stroke="rgb(255, 95, 19)" fill-opacity="0" fill="rgb(0, 0, 0)"
                                              d="M82.623,59.861 L48.661,59.861 L48.661,25.988 L59.982,3.406 L76.963,3.406 L65.642,25.988 L82.623,25.988 L82.623,59.861 ZM3.377,25.988 L14.698,3.406 L31.679,3.406 L20.358,25.988 L37.340,25.988 L37.340,59.861 L3.377,59.861 L3.377,25.988 Z" />
                                    </svg>
                                    <p>
                                        Person who is managing construction of his home and require services, also wants to buy different sort of items (Materials/products) to complete his house structure but would have to approach different platform or people to gather all things.
                                        People don’t even know the service providers in their locality as most people don’t want to waste their time in finding the right person for the right job.
                                        
                                    </p>
                                </div>
                                <!-- founder -->
                                <div class="testimonial-founder d-flex align-items-center">
                                    <div class="founder-text">
                                        <span>Mr. Amir Shabbir Pare</span>
                                        <p>Co Founder</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Testimonial End -->
    <!-- Team Start -->
    <div class="team-area section-padding30">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <!-- Section Tittle -->
                    <div class="section-tittle section-tittle5 mb-50">
                        <div class="front-text">
                            <h2 class="">Our team</h2>
                        </div>
                        <span class="back-text">experts</span>
                    </div>
                </div>
            </div>
            <div class="row">
                <!-- single Tem -->
                <div class="col-xl-4 col-lg-4 col-md-6 col-sm-">
                    <div class="single-team mb-30">
                        <div class="team-img">
                            <img src=@Url.Content("/content/image/team/team1.png") alt="">
                        </div>
                        <div class="team-caption">
                            <span>Supervisor</span>
                            <h3>Mr. Amir Shabbir Pare</h3>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-6 col-sm-">
                    <div class="single-team mb-30">
                        <div class="team-img">
                            <img src=@Url.Content("/content/image/team/team2.png") alt="">
                        </div>
                        <div class="team-caption">
                            <span>Developer</span>
                            <h3>M Ismail Aftab</h3>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-6 col-sm-">
                    <div class="single-team mb-30">
                        <div class="team-img">
                            <img src="~/content/image/team/team3.png" alt="content folder">
                        </div>
                        <div class="team-caption">
                            <span>Developer</span>
                            <h3>Usama Mehmood</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Team End -->
</main>

